.logoContainer {
    height: 20px;
    width: 93px;
    padding: 18px 14px 18px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgLogo {
    display: block;
    height: 20px;
    width: auto;
} 
.textLogo {
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}