.button {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 40px;
    height: 40px;

    & i {
        width: 20px; 
        height: 20px;
        display: block;
    }
}